/**
** ------------------------------------------------------------------------------
** Utility placeholder
** ------------------------------------------------------------------------------
**/


// Text alignment
%text-align{
    &-center{
        text-align: center;
    }

    &-left{
        text-align: center;
    }

    &-right{
        text-align: center;
    }
}